// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.link {
    background: none !important;
    border: none;
    padding: 0 !important;

    &:hover {
        text-decoration: underline;

        &.text-danger {
            color: darken($danger, 15%) !important;
        }
    }
}
